{% extends "layout.njk" %}

{% block content %}
    <h1>{{title}}</h1>

    <form method="POST" action="/articles/edit/{{article._id}}">
        <div id="form-group">
            <label>Title:</label>
            <input class="form-control" name="title" type="text" value="{{article.title}}"/>
        </div>
        <div id="form-group">
            <label>Body:</label>
            <textarea class="form-control" name="body" type="text">{{article.body}}</textarea>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>

{% endblock %}