<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ArticleBase</title>
  </head>
  <body>
    {% block content %}
      <!--<h1>{{title}}</h1>-->
    {% endblock %}
    <br>
    <hr>
    <footer>
      <p>
        Copyright &copy; 2017
      </p>
    </footer>
  </body>
</html>